/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;

	
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */


body {
	display: inline-block;
}

nav {
	text-align: center;
	margin-bottom: 75px;
	margin-left: 30px;
	margin-top: 15px;
}

.logo { 
	padding-left: 45px;
	transform: translate(0px,10px);
}

.topcontent {
	display: inline-block;
	border-top: 2px solid black;
	padding-top: 50px;
	padding-bottom: 50px;
	margin-top: 100px;
}

div .buttoni {
	font-size: 18px;
	transform: translate(0px, -50px);
	width: 200px;
	background: white;
	border: solid black 2px;

}

.half {
	width: 49%;
	display: inline-block;
}

.boi {
	max-width: 876px;
	display: inline-block;
	margin-left: 65px;
	
}

header {
	display: inline-block;
	text-align: center;
}




.headerbutton {
	width: 47%;
	display: inline-block;
	
	font-size: 75px;
	padding-right: 100px;

}

.circleimage {
	width: 47%;
	display: inline-block;
	padding-left: 50px
	
}

.botcontent {
	display: inline-block;
	padding-bottom: 35px;

}

.third {
	width: 33%;
	display: inline-block;
}

.nav {
	width: 100%;
	text-align: center;
	
}

a {
	padding: 0px 30px 0px 30px;
	color: black;
	text-decoration: none;

}

.middle-img {
	margin-bottom: 45px;
	margin-right: auto;
	display: inline-block;
}

section {
	display: inline-block;
}

.contact {
	padding-top: 35px;
	border-top: 2px solid black;
	width: 100%;
}

footer {
	text-align: center;
	margin-top: 45px;
}